<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--푸시 알림 사용 권한 설정-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".ui.login.GlobalApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_app_hwaroak"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_app_hwaroak_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HwaRoak"
        tools:targetApi="31">

        <!--FCM을 위한 service 등록 : service = 자동으로 백그라운드에서 특정 action 시 실행-->
        <service
            android:name=".message.PushMessage"
            android:exported="false">
            <intent-filter>
                <!-- 푸시 메시지 도착 시 시스템이 이 서비스로 Intent를 보냅니다 -->
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity
            android:name=".ui.login.AgreeActivity"
            android:exported="false" />
        <!-- 앱 시작점 변경 mainactivity->카카오로그인액티비티로 -->
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

            <!--

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
            -->
        </activity>
      
        <activity
            android:name=".ui.login.LoginKakaoActivity"
            android:exported="true"
            android:theme="@style/HwaRoakSplashTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 소셜로그인 관련 activity -->


        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakaodda043b8f767e0cc16ee81ad26e1fca1" />
            </intent-filter>
        </activity>
    </application>

</manifest>